/dataset.parquet
/cls-political.parquet
/cls-negativity.parquet
/cls.parquet
/sentiment.parquet
/daily.parquet
/posts.parquet
/posts-text.parquet
/quality.parquet
/articles-sample.parquet
/predictions.parquet
/sentiment-sample.xlsx
/*.xlsx
/hyper-negativity.parquet
/negativity-hyper.parquet
/negativity-cls.parquet
