/dataset.parquet
/cls-political.parquet
/cls-valence.parquet
/cls.parquet
/sentiment.parquet
/daily-counts.parquet
/posts.parquet
/posts-text.parquet
/quality.parquet
/articles-sample.parquet
/predictions.parquet
/sentiment-sample.xlsx
/*.xlsx
/hyper-valence.parquet
/valence-hyper.parquet
/valence-cls.parquet
/final.parquet
/outlet-meta.parquet
/data-quality.parquet
